.navgationWrap{
    padding: 0px 0.8% 15px;
}
.navgationWrap h4 {
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 20px;
    font-size: 1.3rem;
    font-weight: normal;
}
.navgationList{
    width: 98%;
    padding-top: 5%;
    border-radius: 3px;
    border: 1px solid #E7E4E4;
    display: table;
}
.navgationList ul {
    display: table-row;
}
.navgationList li {
    width: 25%;
    text-align: center;
    overflow: hidden;
    display: table-cell;
}
.navgationList li a {
    text-decoration: none;
    margin: auto;
    width: 90%;
    color: #333;
    display: block;
    cursor: pointer;
}
.navgationList li a .iconBox {
    margin: auto;
    padding: 3%;
    width: 80%;
    border-radius: 12px;
    display: block;
    overflow: hidden;
}
.navgationList li a .iconBox img {
    width: 80%;
}
.navgationList li a .txt {
    margin-top: 2px;
    padding-bottom: 25%;
    font-size: 1.1rem;
    display: block;
}
