$black : #444;
$white : #fff;
$gray : #e6e6e6;
$blue : #0e90d2;
$green : #5eb95e;
$orange: #f37b1d;
$red : #dd514c;

.mui-btn-default{
    color:$black;
    background-color:$gray;
    border-color:$gray;
}

.mui-btn-primary{
    color :$white;
    background-color:$blue;
    border-color:$blue;
}

.mui-btn-success{
    color :$white;
    background-color:$green;
    border-color:$green;
}

.mui-btn-warning{
    color :$white;
    background-color:$orange;
    border-color:$orange;
}

.mui-btn-danger{
    color :$white;
    background-color:$red;
    border-color:$red;
}

.muiButton{
    display: inline-block;
    padding: .3em 1em;
    margin: .3em;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;

    .muiButtonIconArea{
        display: inline-block;

        .mui{
            font-size: 1.5rem;
            margin-right: .5rem;
        }
    }

    .muiButtonLabel{
        display: inline-block;
        line-height: 2.5rem;
    }

}
