.muiCalendarContainer{
    background-color: #000 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.muiCalendarHead {
    border-bottom: 1px solid #e8e8e8;
    color: #b8b8b8;
    text-align: center;
    background-color: #fff;
}
.muiCalendarHead:after {
    display: block;
    content: 'clear';
    clear: both;
    line-height: 0;
    visibility: hidden;
}
.muiCalendarHead>div {
    position: relative;
    display: inline-block;
}
.muiCalendarHead .muiCalendarHeadFirst {
    float: left;
    padding-left: 0.2rem;
}
.muiCalendarHead .muiCalendarHeadLast {
    float: right;
}
.muiCalendarHead .muiCalendarHeadContent {
    height: 3rem;
    width: 18rem;
    display: block;
    margin: 0 auto;
    top : 0;
}
.muiCalendarHeadContent span.mui {
    font-size: 2rem;
    line-height: inherit;
    color: #3564aa;
}
.muiCalendarHeadContent span {
    padding: 0.8rem 0.3rem;
    display: inline-block;
    color: #000;
}
.muiCalendarHead .muiTodayNode {
    padding: 0.8rem 1rem;
    font-size: 1.8rem;
    color: #3564aa;
    display: inline-block;
}
.muiCalendarTable {
    width: 100%;
    text-align: center;
    padding: 0 0.5rem;
    background-color: #fafafa;
    margin: 0;
}
.muiCalendarWeekTable {
    position: absolute;
    background-color: #f8f8f8;
    z-index: 99;
    -webkit-transform: translate3d(0, -12rem, 0);
    border-bottom: 1px solid #e8e8e8;
    height: 6.5rem;
}
.muiCalendarTable .muiCalendarWeekHead th {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.8rem;
    color: #4d4d4d;
}
.muiCalendarTable td {
    position: relative;
}
.muiCalendarTable td .muiCalendarDate {
    border: 1px solid transparent;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
}
.muiCalendarDatePre,.muiCalendarDateNext {
    color: #d7d7d7!important;
}
.muiCalendarTable td .muiCalendarHoliday {
    color: #2c79c7;
}
.muiCalendarBottom {
    border-bottom: 1px solid #e8e8e8;
    padding: 0rem 0rem 0.5rem;
    background-color: #fff;
}
.muiCalendarBottom>div {
    border-bottom: 1px solid #e8e8e8;
}
.muiCalendarBottom .muiCalendarOpt {
    padding: 0.4rem 0.8rem;
    -webkit-box-shadow: 0px 0.3rem 0.6rem #e1e1e1 inset;
    box-shadow: 0px 0.3rem 0.6rem #e1e1e1 inset;
}
.muiCalendarBottom .muiCalendarBottomLeft {
    color: #2c79c7;
    font-size: 3.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
}
.muiCalendarBottom .muiCalendarBottomCenter {
    padding-left: 0.5rem;
    display: inline-block;
}
.muiCalendarBottom .muiCalendarBottomCenter>div {
    font-size: 1.2rem;
    color: #898989;
}
.muiCalendarBottom .muiCalendarBottomRight {
    font-size: 1.5rem;
    color: #2f2f2f;
    float: right;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}
.muiCalendarBottom .muiCalendarBottomCenter>div {
    font-size: 1.2rem;
    color: #898989;
}
.muiCalendarBottom .muiCalendarBottomInfo>div {
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 0.2rem;
    margin-right: 1rem;
}
.muiCalendarDateCurr.muiCalendarDateSelected {
    border-color: #2c79c7 !important;
}
.muiCalendarDateCurr.muiCalendarCurrentDate {
    background: #2c79c7;
    color: #fff !important;
    border-color: #2c79c7 !important;
}
.muiCalendarBottomContent{
    height: 28rem;
    overflow: hidden;
}
