.muiFieldOptions .muiFormCheckBox {
    position: absolute;
    top: 11px;
}

.muiFormCheckBox {
	height: 1.6rem;
	width: 1.6rem;
	background: #fff;
	position: relative;
	vertical-align: middle;
	line-height: 1.5rem;
	display: inline-block;
	border: #bfbfbf 1px solid;
	border-radius: 3px;
}

.muiFormCheckBox .muiFormCheckBoxOverlay {
	color: #fff;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	line-height: 100%;
	display: inline-block;
	font-size: 2.5rem;
}

.muiFieldOptions .muiFormCheckBox .muiFormCheckBoxOverlay {
    font-size: 1.4rem;
    line-height: 2rem;
}

.muiFormCheckBox .muiFormCheckBoxOverlay.mui-checked{
	background: #3fa9f5;
    border-color: #3fa9f5;
}

.muiFormCheckBox input {
	margin: 0;
	padding: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.muiFormOptionsField:first-child .muiFieldOptions .muiFormCheckBox {
    top: 1px;
}


.muiFieldOptions > .muiFieldText {
    margin-left: 2.2rem;
    padding: 12px 0 12px 0.2rem;
    font-size: 1.4rem;
    vertical-align: middle;
    border-bottom: 1px solid #e2e2e2;
}
