.muiLoading {
    display: inline-block;
    text-align: center;
}

.muiLoading>div {
    width: 16px;
    height: 16px;
    background-color: #888;
    display: inline-block;
    border-radius : 100%;
    -webkit-animation: animate-muiLoading 1.4s infinite ease-in-out both;
    animation: animate-muiLoading 1.4s infinite ease-in-out both
}

.muiLoading>div+div {
    margin-left: 5px
}

.muiLoading .muiLodingRound1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}

.muiLoading .muiLodingRound2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

.muiLoading .muiLodingRound3 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

@-webkit-keyframes animate-muiLoading{
	 0%,80%,100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}